*{
    margin: 0;
    padding: 0;
}
body {
    height: 2000px;
	background: black;
}

.scene {
    position: absolute;
    transform: translateY(var(--translateY));
    will-change: transform;
    top: 0;
    width: 100%;
    height: inherit;
    background-position: center center;
    background-repeat:no-repeat;

}

#l1 {
    background-image: url("solarislayers/Layer1_background.png");
   
}

#l2 {
    z-index: 1;
    background-image: url("solarislayers/Layer2_stars.png");
    mix-blend-mode: hard-light;
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
}



@keyframes glow {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

#l3 {
    z-index: 2;
    background-image: url("solarislayers/Layer3_timetunnel_overlay.png");
    mix-blend-mode: lighten;
}

#l4 {
    z-index: 3;
    background-image: url("solarislayers/Layer4_bottomlightning1.png");
    mix-blend-mode: exclusion;
    position: absolute;
    top: 20%;
}

#l5 {
    z-index: 5;
    background-image: url("solarislayers/Layer5_bottomlightning2.png");
    mix-blend-mode: lighten;
    top: 22%;
}

#l6 {
    z-index: 5;
    background-image: url("solarislayers/Layer6_cityscape.png");
    top: 30%;
}

#l7{
    z-index: 6;
    background-image: url("solarislayers/Layer7_sun.png");
    transform: scale(.6);
    top: -50%;
}

#l8 {
    z-index: 7;
    background-image: url("solarislayers/Layer8_sunglow.png");
    mix-blend-mode: color-dodge;
    transform: scale(.6);
    animation-name: glow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    top: -50%;
}

#l9 {
    z-index: 5;
    background-image: url("solarislayers/Layer9_keys.png");
    mix-blend-mode: hard-light;
    
}

#l10 {
    z-index: 9;
    background-image: url("solarislayers/Layer10_joelightning.png");
    transform: scale(.6);
    top: -50%;
}

#l11 {
    z-index: 10;
    background-image: url(solarislayers/Layer11_joe.png);
    transform: scale(.6);
    top: -50%;
}